*
  {
    margin: 0;
    box-sizing: border-box;
  }

body
  {
    font-family: 'Luckiest Guy', cursive;

    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 5px black;
    letter-spacing: 5px;

    background-color: skyblue;
  }

main
  {
    width: 100vw;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

h1
  {
    font-size: 1.5em;
    line-height: 2em;
    padding: 0px;
  }

.shown
  {
    opacity: 1;
    transition: all 1s ease;
  }

.hidden
  {
    opacity: 0;
  }

#pnchline
  {
    position: relative;
    bottom: 20px;
  }

#button
  {
    background-color: royalblue;
    border-radius: 10%;

    text-decoration: none;

    box-shadow: 5px 5px 10px black;

    transition: all 0.5s ease;

    padding: 5px;
  }

#button:hover
  {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 4px 4px 20px black;
  }
