*
  {
    box-sizing: border-box;
  }

body
  {
    margin: 0;
    background-color: #515656;
  }

main
  {
    /*background-color: #FFA500;*/
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

    width: 80vw;
    margin: 50px auto;
    color: azure;
  }

h1,h2,h3,h4,h5,h6
  {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: azure;
  }

  h1  {font-size: 2.369em;}
  h2  {font-size: 1.777em;}
  h3  {font-size: 1.333;}
  h4  {font-size: 1em;}
  h5  {font-size: 1em;}
  h6  {font-size: 1em;}

@media only screen and (min-width: 700px)
  {
    h1,h2,h3,h4,h5,h6
      {
        color: #5078ba;
      }
    main
      {
        width: 75vw;
        color: #5089e5;
      }
    body
      {
        background-color: #9ea8a8;
      }
  }

@media only screen and (min-width: 1200px)
    {
      h1,h2,h3,h4,h5,h6
        {
          text-align: left;
          color: #5078ba;
        }
      main
        {
          width: 65vw;
          color: #5089e5;
        }
      body
        {
          background-color: #F0FFFF;
        }
    }

@media only screen and (min-width: 1400px)
    {
      main
        {
          width: 55vw;
        }
    }
