* {box-sizing: border-box;}

body
  {
    font-size: 16px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }

h1
  {
    font-size: 11.089em;
    line-height: .0em;
  }

h3
  {
    font-size: 1.618em;
    line-height: .4em;
  }

#container
  {
    width: 1200px;
    margin: 20px auto;
    border: 10px solid firebrick;
    padding: 50px;
    box-shadow: 10px 10px black;
  }

#body
  {
    width: 850px;
    margin: 0px auto;
  }

#titleblock
  {
    padding: 10px;
    border: 10px solid firebrick;
    box-shadow: 10px 10px black;
  }

#textblock
    {
      padding: 10px;
      width: 600px;
    }

/*.blackbox, .redbox
  {
    position: relative;
  }

.blackbox
  {
    border: 10px solid black;
    top: 10px;
    left: 10px;
  }
.redbox
  {
    background-color: white;
    bottom: 1200px;
    border: 10px solid crimson;
  }

#background
  {
    height: 1200px;
  }

#title
  {

  }*/
