* {box-sizing: border-box;}

body
  {
    font-size: 16px;
    margin: 0px;
    font-family: myriad-pro, sans-serif;

    font-weight: 700;

    font-style: normal;
  }

h1
  {
    font-size: 16.8em;
    line-height: 1px;
    font-family: myriad-pro-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h3
  {
    font-size: 1.618em;
    line-height: .4em;
    font-style: normal;
  }

#byline
  {
    width: 850px;
    position: relative;
    left: 15px;
  }

#container
  {
    width: 975px;
    margin: 20px auto;
    border: 10px solid firebrick;
    padding: 50px;
    box-shadow: 10px 10px black;
  }

#body
  {
    width: 850px;
    margin: 0px auto;
  }

#titleblock
  {
    padding: 10px;
    border: 10px solid firebrick;
    box-shadow: 10px 10px black;
  }

#textblock
    {
      position: relative;
      left: 26px;

      padding: 10px;
      width: 600px;
    }

/*.blackbox, .redbox
  {
    position: relative;
  }

.blackbox
  {
    border: 10px solid black;
    top: 10px;
    left: 10px;
  }
.redbox
  {
    background-color: white;
    bottom: 1200px;
    border: 10px solid crimson;
  }

#background
  {
    height: 1200px;
  }

#title
  {

  }*/
