/*
Tennis court
No absolutes!
14 divs, no more than 16
white border
*/

* {box-sizing: border-box;}
body {margin: 0px;}
div {float: left;}

/*Checkerboard*/
  .board
    {
      width: 800px;
    }

  .red
    {
      background-color: red;
      width:  100px;
      height: 100px;
    }

  .white
    {
      background-color: white;
      width:  100px;
      height: 100px;
    }

/*Tennis Court*/
.square, .tall, .wide
  {
      border: 2px solid white;
      background-color: red;
  }

.court
  {
    width: 600px;
  }

.court-center
    {
      width: 400px;
    }

.square
  {
    width: 200px;
    height: 200px;
  }

.tall
  {
    width: 100px;
    height: 400px;
  }

.wide
  {
    width: 400px;
    height: 200px;
  }

/*3 column grid*/
.footer, .byline, .column
  {
    background-color: red;
    border: 5px solid white;
  }

.column-grid, .footer, .byline
  {
    width: 600px;
  }

.footer
  {
    height: 100px;
  }

.byline
  {
    height: 25px;
  }

.column
  {
    width: 200px;
    height: 400px;
  }

/*blog layout*/
.header, .sidebar, .text, .bottom
  {
    background-color: red;
    border: 5px solid white;
  }

.header
  {
    width: 600px;
    height: 150px;
  }

.sidebar
  {
    width: 100px;
    height: 150px;
  }

.text
  {
    width: 500px;
    height: 300px;
  }

.bottom
  {
    width: 500px;
    height: 50px;
  }

.spacer
  {
    width: 600px;
    height: 50px;
  }
