*
  {
    margin: 0;
    box-sizing: border-box;
  }

body
  {
    font-size: 16px;
  }

h1
  {
    margin: 0;
    font-size: 5em;
    /*padding: 40vh 0 0 0;
    font-family: sans-serif;
    text-transform: uppercase;*/
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 2s ease;
  }

span:hover
  {
    cursor: pointer;
  }

.container
  {
    /*position: relative;
    margin: auto;
    width: 800px;
    margin: 50px auto;*/
  }

.title
    {
      text-align: center;
      height: 100px;
      opacity: 0;
    }

.open
  {
    height: 100vh;
    text-align: center;
    color: white;
    opacity: 1;
  }

.blue
  {
    background-color: blue;
  }


#listName
  {

  }

#listTitle
  {

  }

#list
  {

  }

#game1, #game2, #game3, #game4, #game5
  {
    transition: all 1s ease;
  }

#game1
  {
    background-image: url('imgs/3572952-dragonborn.jpg');
    background-size: cover;
  }

#g1Title, #g2Title, #g3Title, #g4Title, #g5Title
  {
    position: relative;
    margin: auto;
    width: 1000px;
    margin: 0px auto;
  }
